/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Global version*/
/*HEADER*/
header {
    background-color: #4040bb;
    background-size: cover;
    background-attachment: fixed;
}
.header__top{
    font-family: "Open Sans",sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size:.875rem ;
    line-height: 160%;
    letter-spacing: 1px;
    margin-bottom:7.5rem ;
}
/*nav JS*/


/*fin nav JS*/
.top__link{
    padding: .75rem;
}
.header__main{
    font-family: Muli, sans-serif;
    font-weight: 300;
    color: white;
}
.header__title{
    font-size: 3.5rem;
    line-height: 1.14;
    letter-spacing: 1px;
    margin-bottom: 4.3rem;
}
.header__subtitle{
    font-size: 1.3rem;
    margin-bottom: 1.68rem;
    line-height: 130%;
}
.header__link{
    font-family: "Open Sans",sans-serif;
    display: inline-block;
    font-weight: 600;
    font-size:.85rem;
    padding: .65rem 2rem;
    border-radius:3.5rem;
    margin:0 15px 15px 15px;
    border: 2px solid #36A3DC;
    min-width: 101px;
    line-height: 1.6rem;
    text-align: center;

}
.header__link.projet__link{
    background-color:#36A3DC;
}
.header__link.contact__link{
    border:2px solid white ;
}
.header__img img{
    padding: 40px;
    box-shadow: none;
}
.header__separator{

    width: 100%;
    overflow: hidden;
}
.header__separator svg{
    height: 154px;
    display: block;
    width: calc(100% + 1.3px);
    min-width: 100%;
}
.svg-white-bg{
    fill: white;
}
.svg__separator{
    margin: 0;
}

/*MAIN*/

    /*INTRO*/

.soft--skill,.objectif{
    background-color:#F6F7F9 ;
}

.intro svg{
    width: 80px;
    height: 80px;
    background-color:#03a9f4;
    border-radius: 50%;
    fill: white;
    padding: 14px;
    box-shadow: 0 10px 30px 0 rgb(49 52 57 / 30%), 0 10px 30px rgb(0 0 0 / 8%);
    margin-bottom:1.96876rem ;
}
.intro__content{
    margin-bottom:1.875em ;
    grid-area: intro;
}
.description{
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    color:#8E9DAE ;
    line-height: 1.5rem;
    font-size:.875rem ;
    margin-bottom: 1rem;
}
.intro__title,.name,.skill__name,.case__author {
    font-family: Muli,sans-serif;
    font-size: .83em;
    margin-bottom: 1rem;
    color:rgb(60, 66, 79);
    line-height: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;

}
.name{
    font-family: Helvetica,sans-serif;
}
/*OBJECTIF*/

.objectif__texte--change{
    font-family:"Playfair Display","Helvetica",sans-serif;
    font-weight: 700;
    font-style: italic;
}
.objectif__description{
    margin-bottom: 1rem;
}
/*EXPERIENCE*/
.experience__title,.skill_title{
    text-transform: uppercase;
}
.experience__description{
    color: rgb(60, 66, 79);
    margin-bottom: 2rem;
}
.experience__deep--description{
    font-size: 1rem;
    color: rgb(142, 157, 174);
    line-height: 1.3125rem;
    font-weight: 300;
    margin-bottom: 1rem;

}
/*SKILL*/
.skill__list{
    grid-gap: 5% 20%;
    justify-content: center;
    display: grid ;
    grid-template-rows: repeat(3,50px);
    grid-template-columns: 30% 30%;
}
/*FEEDBACK*/
.feedback{
    background-color: rgb(245, 250, 253);
}
.feedback__title{
    margin-bottom: 16px;
}
.feedback__description{
    font-weight: 300;
    color:rgb(60, 66, 79) ;
    font-size: 1.05rem;
}
.feedback__case{
    background-color:#fff ;
   border:1px solid #e0e1e1;
    padding: 24px 40px;
}
.feedback__quote{
    max-width: 1.4rem;
    box-shadow:none;
    fill: #03a9f4;
}
.case__description{
    font-weight:400;
    line-height: 1.31rem;
    margin-bottom: 2rem;
}
.case__author{
    font-size: 12px;
    line-height: 19px;
    text-transform:none;

}
.case__site{
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    margin: inherit;

}
/*FOOTER*/
.footer{
    background-color: #222;
}
.footer__title{
    color:#fff;
    font-size:1.1rem ;
}
.footer__text{
    color:#aaaaaa ;
    font-size: 14px;
    font-weight: 400;
}
.socials__list{
    margin-bottom:40px ;
}
.footer__end{
    color:#fff ;
}

/*ANIMATION*/

.button:hover,.projet__link:hover,.intro__svg:hover{
    transition: all .3s linear;
    background-color: rgb(42 189 249);
}
.feedback__case:hover{
    transition: all .2s;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(189,189,189,.19),0 6px 6px rgba(189,189,189,.23);
}
 /*animation JS*/
.reveal{
    opacity: 0;
    transform: translateY(30px);
}
.active{
    opacity: 1;
    transform: translateY(0);
    transition: .8s /*cubic-bezier(.5,-0.03,.32,.92)*/;
}
.reveal-1{
    transition-delay:.1s;
}
.reveal-2{
    transition-delay:.2s;
}
.reveal-3{
    transition-delay: .3s;
}
.reveal-4{
    transition-delay: .4s;
}
/*global attribute*/
a{
    text-decoration: none;
    color: white;
}
strong{
    font-weight: 600;
}
.button{
    font-family: "Open Sans",sans-serif;
    font-size: .75rem;
    background-color: #03a9f4;
    border-radius: 5px;
    min-width: 7rem;
    padding: 0.55rem 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    line-height: 1.5rem;
    border: 2px solid #03a9f4;

}
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
h2{
    font-family: Muli,sans-serif;
    font-weight: 600;
    font-size: 2.1875rem;
    line-height: 2.625rem;
    color: rgb(60, 66, 79);
    margin-bottom: 50px;
}

@media only screen and (min-width: 769px) {
    html{
        font-size: 16px;
    }

    .gridContainer,.header__main{
        width: 90%;
        margin: 0 auto;
    }
    .header__container{
        display: inline-block;
    }
    .header__main{
        display:grid ;
        grid-template-columns:5% 1fr 1fr 5%;
        grid-template-areas:". content image ." ;
        grid-gap: 5%;
        padding-bottom:10%;
        align-items: center;
    }
    .header--main__content{
        grid-area:content ;
    }
    img{
        max-width: 100%;
        box-shadow: 0 10px 30px 0 rgba(49,52,57,.3),0 10px 30px rgba(0,0,0,.08);
    }
    .header__img{
        grid-area: image;
        background-color: rgba(255,255,255,0.179);
        box-shadow: 0 4px 10px 0 rgb(74 74 74 / 30%), 0 4px 10px rgb(0 0 0 / 8%);
        max-width: 590px;
    }
    .header__img img{
        transform: translate(-12%, 6%);
    }
    .header__top,.header__logo{
        text-align: center;
    }
    /*intro pc*/

     .main .main__section{
        padding-bottom: 80px;
        padding-top: 80px;
        margin: 0 auto;
    }
    .gridContainer{
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: center;
    }
    .objectif__gridContainer{

        grid-template-areas: ". container containerimg .";
        justify-content: center;
        grid-gap:30px ;
        display: grid;
        width: 90%;
        margin: auto;

    }
    .container{
        text-align: center;
        max-width: 485px;
        grid-area: container;
        padding: 0 15px;
    }
    .container--image {
        grid-area: containerimg;
    }
    .intro{
        padding-bottom: 80px;
    }
    .intro__content{
        text-align: center;
        padding: 2rem;
        max-width:346px;

    }
    .main img{
        max-width: 485px;
        width: 100%;

    }
    /*.image__border{
        width: calc(100% - 20px);
        transform:translate(15%,5%);
        border: 10px solid #03a9f4;*/
    .feedback .gridContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feedback__container{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-gap: 30px;
    }
    .feedback__top{
        max-width: inherit;
    }
    .feedback__case{
        max-width: 504px;
        text-align: center;
    }
    .footer__div{
        display: flex;
        border-left: 1px solid rgba(128,128,128,.2);
        padding: 40px 15px;
        max-width: 33.333%;
        flex-basis: 33.333%;
        flex-direction: column;
        min-height: 400px;


    }
    .footer__content {
        display: flex;
        width: 90%;
        margin: 0 auto;

    }
    .footer__text{
        font-size: 16px;
    }
    .footer__bottom{
        border: none;
        padding: 5% 0;
    }
    }


/* Mobile version: */
@media only screen and (max-width: 768px) {
    html{
        font-size: 14px;
    }

    .main__section{
        padding: 48px 015px;
    }
    body{
        text-align: center;
    }
    .top{
        display: flex;
        flex-direction: column;
    }
    .header--description{
        display: flex;
        flex-wrap: wrap;
        margin:3%;
    }
    img,svg{
        max-width: 90%;
        margin-bottom: 1rem;
        box-shadow: 0 10px 30px 0 rgba(49,52,57,.3),0 10px 30px rgba(0,0,0,.08);
}
    .objectif__image{
        margin-top: 36px ;
    }
    .soft--skills__image{

    }
    .feedback__container{
        display: grid;
        justify-content: center;
        grid-gap:30px ;
    }
    .footer{
        padding:20px 15px;
    }
}