<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Projet CV du cours de design web">
    <meta name="keywords" content="HTML,CSS,JavaScript,contact,CV">
    <meta name="author" content="Willems Edouard">
    <link rel="stylesheet" href="/src/style/contact.css">
    <title>Willems Edouard Contact</title>

</head>
<body>
    <header class="header" style='background-image:url("/image/background-image.jpeg")'>
        <div class="header__logo">
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="80" height="80" viewBox="0 0 331 183.21"><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path d="M299,94.83l1-27.21-46.47-19.9L260.78,32,331,31.51,325.7,0,242.86.45h-.93l-37,71-19.26-39-34.49-.89-20.61,42.1L94.22.46H23.39L0,29,77.52,182.75h34.06L131,143.56l19.36,39.19h1l147.09.45,1.13-31.74-98,.32,1.25-4.64ZM94.28,148,34,29.79H74.13l39.41,79.28Zm53.81-39.41,20.1-40.76,19.42,39.64-20,40.08ZM270,80.42l-51.52,28.09,1.06-2.42,23-36.83Z"/></g></g></svg>
            <svg class="burger__button" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" fill="white"
                 viewBox="0 0 700 700">
                <g>
                    <path d="M131.6,112v56h436.8v-56H131.6z M131.6,252v56h436.8v-56H131.6z M131.6,392v56h436.8v-56H131.6z"/>
                </g>
            </svg>
        </div>
        <div class="header__top top">
            <svg class="burger__button burger__button--close" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" fill="white"
                 viewBox="0 0 700 700">
                <g>
                    <path d="M478.3,115.4L350,243.7L221.7,115.4l-36.3,36.3L313.7,280L185.4,408.3l36.3,36.3L350,316.3l128.3,128.2l36.3-36.3
		                L386.3,280l128.2-128.3L478.3,115.4z"/>
                </g>
            </svg>
            <a href="/index.html" class="logo__link top__link">Accueil</a>
            <a href="#" class="portfolio__link top__link">Réalisations</a>
            <a href="#" class="skill__link top__link">Compétence</a>
            <a href="#" class="contact__link top__link">Contact</a>
        </div>
        <div class="header--main">
            <h1 class="header__title no-js">Contact</h1>
        </div>
        <div class="header__separator header-separator-bottom">
            <svg class="svg__separator" preserveAspectRatio="none" width="1000" height="100" viewBox="0 0 1000 100" xmlns="http://www.w3.org/2000/svg">
                <g fill="none">
                    <path class="svg-white-bg" d="M-1.23 78.87c186.267-24.436 314.878-36.485 385.833-36.147 106.432.506 167.531 21.933 236.417 21.933s183.312-50.088 254.721-55.62c47.606-3.688 89.283 2.613 125.03 18.901v72.063l-1002 1.278v-22.408z" fill="#000"></path>
                    <path class="svg__animation" d="M-1.23,87.791q257.441-51.67,387.438-54.634c130-2.964,166.9,40.422,235.909,40.422S797.407,10.116,868.942,4.585q71.535-5.531,131.828,41.25c40.2,31.187,89.934,52.428,167.065,34.573S1316.759,21.35,1372.062,18.14s98.693,18.3,98.693,18.3,94.4,66.359,532.142-32.591" transform="translate(1.328 -3.363)" fill="none" stroke="#50e3c2" stroke-width="1"/>

                </g>
            </svg>
        </div>
    </header>
    <main class="main">
        <div class="main__intro">
        <p class="objectif__name no-js">
            Willems Edouard développeur web
        </p>
        <h2 class="main__title no-js reveal-1">Contacter moi !</h2>
        <h3 class="main__subtitle no-js reveal-2">« N’hésiter plus, discutons de vos projets »</h3>
        <p class="main__description no-js reveal-3">Je suis toujours disponible pour vos éventuelles question, proposition de projets ou d’emplois ou pour toute autre proposition de collaboration. Je vous réponds dans les plus brefs délais, vous fournir rapidement une réponse est ma priorité</p>
        </div>
        <!--<svg></svg>-->
        <section class="shape--global">
            <div class="shape--main shape--div">
                <svg class="shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path class="shape__path" opacity="0.33" d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z"></path>
                    <path class="shape__path" opacity="0.66" d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"></path>
                    <path class="shape__path" d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"></path>
                </svg>
            </div>
        <div class="shape--top shape--div">
            <svg class="shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"> <path class="shape__path" opacity="0.33" d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z"></path> <path class="shape__path" opacity="0.66" d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"></path> <path class="shape__path" d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"></path> </svg>
        </div>

        </section>

        <h2 class="form--title no-js">FORMULAIRE DE CONTACT</h2>
        <form action="https://formsubmit.co/willems.edouard.pro@gmail.com" method="POST" class="main__form">
            <div class="form__lastname form__div">
                <label class="no-js" for="lastname">Nom* <br></label>
                <input class="no-js reveal-2" type="text" name="lastname" id="lastname" required>
            </div>
            <div class="form__firstname form__div">
                <label class="no-js" for="firstname">Prénom* <br></label>
                <input class="no-js reveal-2" type="text" name="firstname" id="firstname" required>
            </div>
            <div class="form__mail form__div">
                <label class="no-js" for="email">Adresse mail* <br></label>
                <input class="no-js reveal-2" type="email" name="email" id="email" required>
            </div>
            <div class="form__company form__div">
                <label class="no-js" for="company">Société <br></label>
                <input class="no-js reveal-2" type="text" name="company" id="company">
            </div>
            <div class="form__number form__div">
                <label class="no-js" for="number">Téléphone <br></label>
                <input class="no-js reveal-2" type="text" name="number" id="number">
            </div>
            <div class="form__object form__div">
                <label class="no-js" for="object">Objet* <br></label>
                <input class="no-js reveal-2" type="text" name="object" id="object" required>
            </div>
            <div class="form__object form__div">
            <label class="no-js" for="message">Message* <br></label>
                <textarea class="no-js reveal-2" name="message" id="message" cols="40" rows="10" required></textarea>
            </div>
            <div class="form__submit form__div">
                <input class="no-js reveal-2 submit" type="submit" value="Envoyer">
            </div>
        </form>
    </main>
    <footer class="footer">
        <div class="footer__content">
            <div class="gridContainer">
                <div class="footer__shortdesc footer__div">
                    <p class="footer__title description">WE</p>
                    <p class="footer__text description"><strong>Willems Edouard</strong>, Le développeur web qu’il vous faut pour atteindre vos objectifs</p>
                </div>
                <div class="footer__text footer__div">
                    <p class="footer__title description">Liens</p>
                    <ul class="link__list">
                        <li class="link__name"><a class="footer__text description" href="#">Contact</a></li>
                        <li class="link__name"><a class="footer__text description" href="#">Réalisations</a></li>
                    </ul>
                </div>
                <div class="footer__socials footer__div">
                    <p class="footer__title description">Réseaux</p>
                    <ul class="socials__list">
                        <li class="socials__name"><a class="footer__text description" href="#" > Github</a></li>
                        <li class="socials__name"><a class="footer__text description" href="#" > Linkedin</a></li>
                        <li class="socials__name"><a class="footer__text description" href="#" > Stackoverflow</a></li>
                        <li class="socials__name"><a class="footer__text description" href="#" > Teams</a></li>
                    </ul>
                </div>
                <div class="footer__bottom footer__div">
                    <h2 class="footer__end">Votre Futur Collaborateur</h2>
                </div>
            </div>
        </div>
    </footer>
    <script src="/src/js/main.js"></script>
</body>
</html>