<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Projet CV du cours de design web">
    <meta name="keywords" content="HTML,CSS,JavaScript,contact,CV">
    <meta name="author" content="Willems Edouard">
    <title>Willems Edouard Contact</title>

</head>
<body>
    <header class="header">
        <div class="header-top">
            <a href="index.html" class="logo__link top__link">Accueil</a>
            <a href="#" class="projet__link top__link">Réalisations</a>
            <a href="#" class="contact__link top__link">Contact</a>
        </div>
        <div class="header--main">
            <h1 class="header__title">Contact</h1>
        </div>
    </header>
    <main class="main">
        <p class="objectif__name">
            Willems Edouard développeur web
        </p>
        <h2 class="main__title">Contacter moi !</h2>
        <h3 class="main__subtitle">« N’hésiter plus, discutons de vos projets »</h3>
        <p class="main__description">Je suis toujours disponible pour vos éventuelles question, proposition de projets ou d’emplois ou pour toute autre proposition de collaboration. Je vous répond dans les plus bref délais, vous fournir rapidement une réponse est ma priorité</p>
        <!--<svg></svg>-->

        <form action="" method="get" class="main__form">
            <div class="form__lastname form__div">
                <label for="lastname">Nom* </label>
                <input type="text" name="lastname" id="lastname" required>
            </div>
            <div class="form__firstname form__div">
                <label for="firstname">Prénom* </label>
                <input type="text" name="firstname" id="firstname" required>
            </div>
            <div class="form__mail form__div">
                <label for="email">Adresse mail*</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="form__company form__div">
                <label for="company">Société </label>
                <input type="text" name="company" id="company">
            </div>
            <div class="form__number form__div">
                <label for="number">Téléphone </label>
                <input type="text" name="number" id="number">
            </div>
            <div class="form__object form__div">
                <label for="object">Objet* </label>
                <input type="text" name="object" id="object" required>
            </div>
            <div class="form__object form__div">
            <label for="message">Message* </label>
            <input type="text" name="message" id="message" required>
            </div>
            <div class="form__submit form__div">
                <input type="submit" value="Envoyer">
            </div>
        </form>
    </main>
    <footer class="footer">
        <div class="footer__shortdesc">
            <p class="desc__title">WE</p>
            <p class="desc__content">Willems Edouard, Le développeur web qu’il vous faut pour atteindre vos objectifs</p>
        </div>
        <div class="footer__link">
            <p class="link__title">Liens</p>
            <ul class="link__list">
                <li class="link__name"><a href="#">Contact</a></li>
                <li class="link__name"><a href="#">Réalisations</a></li>
            </ul>
        </div>
        <div class="footer__socials">
            <p class="socials__title">Réseaux</p>
            <ul class="socials__list">
                <li class="socials__name"><a href="#"> Github</a></li>
                <li class="socials__name"><a href="#"> Linkedin</a></li>
                <li class="socials__name"><a href="#"> Stackoverflow</a></li>
                <li class="socials__name"><a href="#"> Teams</a></li>
            </ul>
        </div>
        <h2 class="footer.title">Votre Futur Collaborateur</h2>
    </footer>
</body>
</html>